@media (min-width:480px) and (max-width: 992px) {
    
    /** MENU TOP **/
    .myButton {
        font-size : 2.5vh;
    }
    
    /** RECHERCHE TOP **/
    /* .row.content.search-bar{
        width:85%;
        margin-left:12.5%;
        height: 5vh;
        font-size: 2.5vh;
    } */

    /* MAIN */

    .bi.bi-folder-fill{
        width: 5vh;
    }

    /*********** Connexion ***************/

    
    #label1, #labe2 {
        font-size : 3vw;
    }
    #label1 {
        margin-left : 27.5vw;
    }
    #label2 {
        margin-left : 30vw;
    }
    #login {
        margin-left : 30vw;
        margin-top : 2vh;
        margin-bottom : 2vh;
    }
    #password {
        margin-left : 30vw;
        margin-top : 2vh;
        margin-bottom : 2vh;
    }
   
    #connecter{
        margin-left : 32.5vw;
        font-size : 1.2em;
    }
}