@media (min-width:768px) and (max-width: 992px) {
    
    /** MENU TOP **/
    .myButton {
        font-size : 2.5vh;
    }
    
    /** RECHERCHE TOP **/
    /* .row.content.search-bar{
        width:85%;
        margin-left:12.5%;
        height: 5vh;
        font-size: 2.5vh;
    } */

    /* MAIN */

    .bi.bi-folder-fill{
        width: 5vh;
    }
}